<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi Experiencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="experience-container">
    <h2 class="title">Explorando Mi Experiencia</h2>

    <p class="description">
      Haz clic en el video para descubrir mi experiencia en este proyecto.
      ¡Te espera un viaje emocionante y lleno de energía!
    </p>

    <div class="video-container">
      <iframe
        src="https://www.youtube.com/embed/YnOCTSL3u0E?si=NikqrirgdkqA5loFrel=0&showinfo=0"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</ion-content>

