<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Tabla de Multiplicar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="tabla-container">
    <h2 class="title">Calcula la Tabla de Multiplicar</h2>

    <ion-item class="input-item">
      <ion-label position="floating">Ingresa un número</ion-label>
      <ion-input type="number" [(ngModel)]="numero"></ion-input>
    </ion-item>

    <ion-button expand="block" class="calculate-button" (click)="generarTabla()">
      <ion-icon slot="start" name="calculator-outline"></ion-icon>
      Generar Tabla
    </ion-button>

    <ion-card class="result-card" *ngIf="tabla.length > 0">
      <ion-card-header>
        <ion-card-title>Resultado</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ul class="tabla-list">
          <li *ngFor="let linea of tabla">
            <ion-icon name="checkmark-circle-outline"></ion-icon> {{ linea }}
          </li>
        </ul>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
